@use '../abstracts' as *;

button.icon {
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
}

.icon {
  display: inline-flex;
  padding: 0.2rem;
  border-radius: $radius-md;
}

.icon svg {
  width: 1.125rem;
  height: 1.125rem;
  flex: 0 0 auto;
}

.icon svg path,
.icon svg circle {
  stroke: #4e4e4e;
}

.icon--small svg {
  width: 1rem;
  height: 1rem;
}

.icon--large svg {
  width: 1.4rem;
  height: 1.4rem;
}

.icon--thin svg path {
  stroke-width: 1;
}

.icon--bold svg path {
  stroke-width: 3;
}

.icon--hover {
  @include transition((background, stroke));
  &:hover {
    background: $color-light-grey;
    svg path {
      stroke: $color-black;
    }
  }
}
