@use '../abstracts' as *;

.nav-list {
  display: grid;
  gap: 0.25rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-list__link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
  padding: 4px 8px;
  border: none;
  border-radius: $radius-md;
  font-size: $font-size-sm;
  background: $bg-secondary;

  @include transition((background, color));
  @include hover-state($bg: $color-light-grey, $cursor: pointer);
}

.nav-list__text {
  text-wrap: nowrap;
}
