@use '../abstracts' as *;

.nav-list {
  display: grid;
  gap: 0.25rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-list__link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: $radius-md;
  font-size: 0.8rem;
  background: $bg-secondary;
  cursor: pointer;

  @include transition((background, color));
  @include hover-state($bg: $color-light-grey);
}

.nav-list__text {
  text-wrap: nowrap;
}

.nav-list__link--active {
  color: $color-accent-red;
  background: $color-accent-red-light;

  .icon svg path {
    stroke: $color-accent-red;
  }
  @include hover-state($bg: $color-accent-red-light);
}
