@use '../../abstracts' as *;

.my-projects {
  display: grid;
  gap: $spacing-md;
}

.my-projects__section {
  display: grid;
  gap: 1rem;
}

.my-projects__title,
.my-projects__header-label {
  color: $color-dark-grey;
}

.my-projects__header-label,
.my-projects__project-list {
  margin: 0;
  padding: 0;
}

.my-projects__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: $border-width-thin solid $color-light-grey;
  padding-bottom: 0.5rem;
}

.my-projects__header-label {
  font-size: $font-size-sm;
}

.my-projects__project-list {
  list-style-type: none;
}

.my-projects__project-item {
  display: flex;
  padding: 0.5rem 0.5rem;
  border-radius: $radius-md;

  @include transition((background));
  @include hover-state($bg: $color-light-grey);
}

.my-projects__project-link {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

.my-projects__project-link-content {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
}

.my-projects__project-link-label {
  font-size: $font-size-sm;
}

.my-projects__add-project-button {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  border: none;
  border-radius: $radius-md;
  background: $bg-secondary;
  cursor: pointer;

  @include transition((background));
  @include hover-state($bg: $color-light-grey);
}

.my-projects__add-project-button-icon {
  padding: 0;
}

.my-projects__add-project-button-label {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
}
