@use '../../abstracts' as *;

.sidebar {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  padding: $spacing-sm;
  width: 100%;
  background: $bg-secondary;

  @include transition((width, background));
}

.sidebar--collapse {
  width: 3rem;
  background: $bg-primary;
}

.sidebar--collapse .sidebar-header__user,
.sidebar--collapse .sidebar-views,
.sidebar--collapse .sidebar-projects {
  visibility: hidden;
  max-width: 0;
  opacity: 0;
}

.sidebar--collapse .sidebar-header {
  justify-content: center;
}

.sidebar--collapse .sidebar-header__toggle {
  transform: rotate(180deg);
}
