@use '../../abstracts' as *;

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include transition((justify-content));
}

.sidebar-header__user {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  padding: 0.25rem 0.2rem;
  border-radius: $radius-md;

  overflow: hidden;

  @include transition((background, visibility, max-width, opacity));
  @include hover-state($bg: $color-light-grey, $cursor: pointer);
}

.sidebar-header__avatar {
  position: relative;
  display: grid;
  place-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: $radius-circle;
  background: #f3501e;
  flex-shrink: 0;
}

.sidebar-header__avatar::before {
  content: 'U';
  font-size: $font-size-xs;
  color: $color-white;
  transform: translateY(1px);
}

.sidebar-header__avatar::after {
  content: '';
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border: $border-width-thin solid $color-white;
  border-radius: $radius-circle;
  background: #f28218;
  bottom: 0;
  right: 0;
}

.sidebar-header__username {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  letter-spacing: $letter-spacing-wide;
  white-space: nowrap;
}

.sidebar-header__toggle {
  @include transition((transform));
}
