@use '../../abstracts' as *;

.sidebar-projects {
  display: grid;
  gap: $spacing-xs;
}

.sidebar-projects__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-projects__title {
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  color: $color-black;
}
